databaser/
2017-August.txt
2017-December.txt
2017-November.txt
2017-October.txt
2017-September.txt
2018-April.txt
2018-August.txt
2018-December.txt
2018-February.txt
2018-January.txt
2018-June.txt
2018-March.txt
2018-May.txt
2018-November.txt
2018-October.txt
2018-September.txt
2019-February.txt
2019-January.txt
2019-March.txt
info.txt
Okända.txt
temp (Konfliktkopia för itgsodertorn 2019-03-05).txt 
temp.txt
2017-August-personal.xlsx
2017-December-personal.xlsx
2017-November-personal.xlsx
2017-October-personal.xlsx
2017-September-personal.xlsx
2018-April-personal.xlsx
2018-August-personal.xlsx
2018-December-personal.xlsx
2018-February-personal.xlsx
2018-January-personal.xlsx
2018-June-personal.xlsx
2018-March-personal.xlsx
2018-May-personal.xlsx
2018-November-personal.xlsx
2018-October-personal.xlsx
2018-September-personal.xlsx
2019-February-personal.xlsx
2019-January-personal.xlsx
2019-March-personal.xlsx
2019-April-personal.xlsx    
2019-April.txt              
2019-August-personal.xlsx   
2019-August.txt             
2019-June-personal.xlsx     
2019-June.txt               
2019-May-personal.xlsx      
2019-May.txt                
2019-September-personal.xlsx
2019-September.txt          
desktop.ini                 
logo.png                    
logo.jpg
rubyinstaller-2.5.3-1-x64.exe
.dropbox
matsal-new.rb
